name: 'Test'

on: push

jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: 'Install'
        run: make install
      - name: 'Test'
        run: make test
